[
  {rabbitmq_web_stomp,
      [{ssl_config, [{port,       15673},
                     {backlog,    1024},
                     {cacertfile, "/home/ubuntu/ssl/ca_bundle.crt"},
                     {certfile,   "/home/ubuntu/ssl/certificate.crt"},
                     {keyfile,    "/home/ubuntu/ssl/private.key"}
                     ]}]}
].
